/* .appStyle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    minWidth: "auto",
    paddingBottom: "72px",
    flexDirection: "column",
    display: "flex",
}
    
  };
  
  const bodyStyle = {
    marginLeft: "auto",
    marginRight: "auto",
    marginTop: "10rem",
    flexGrow: "1",
  }; */