
.owt-content-line-style {
    width: "1080px";
    height: "1px";
    stroke-width: "1";
    background-color: "#d8d8d8";
  };
  
.owt-content-submit-button {
    width: "112px";
    height: "36px";
    border-radius: "4px";
    background-color: "#1672B5";
    color: "white";
    font-size: "14px";
    line-height: "32px";
    text-align: "center";
    border: "0px";
  };
  
.owt-content-cancel-button {
    width: "112px";
    height: "36px";
    border-radius: "4px";
    background-color: "white";
    color: "black";
    font-size: "14px";
    line-height: "32px";
    text-align: "center";
    cursor: "pointer";
  };