

.Link {
  text-decoration: underline;
}

.page-link {
  margin: auto;
  position: absolute;
  right: 30rem;
}

.ToggleButtons {
  height: 20px;
  width: 324px;
  border-color: #d8d8d8;
  z-index: 0;
}


.bs-select {
  display: none !important;
}

.dataTables_info {
  display: none !important;
}

th {
  border-bottom: 2px solid grey !important;
  width: 1080px;
  height: 1px;
  stroke-width: 1;
  cursor: pointer !important;
}

.sr-only {
  display: none !important;
}

.fa-sort {
  display: inline-block !important;
}

#plus-button {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}

#citizen-plus-button {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}

.owt-content-admin-title-text {
  display: inline-block;
}

.owt-content-plus-button {
  display: inline-block;
}
.owt-content-request-text {
  display: inline-block;
}

.owt-content-button1-active {
  display: inline-block;
}

.owt-content-button2-inactive {
  display: inline-block;
}

