.Footer {
    margin-left: auto;
    margin-right: auto;
    min-width: 1440px;
    height:72px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #700017;
    z-index: 100;
}

.LogoFooter {
  position: absolute;
  left: 128px;
  bottom: 20px;
  width: 130px;
  height: 33px;
}

.PrivacyText {
  position: absolute;
  bottom: 10px;
  left: 36%;
  width: 156px;
  height: 17px;
  font-family: Source Sans Pro;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
  line-height: 17px;
}

.AccessibilityText {
  position: absolute;
  bottom: 10px;
  left: 46.5%;
  width: 72px;
  height: 17px;
  font-family: Source Sans Pro;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
  line-height: 17px;
}

.OhioCheckbookText {
  position: absolute;
  bottom: 10px;
  right: 42%;
  width: 97px;
  height: 17px;
  font-family: Source Sans Pro;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
  line-height: 17px;
}

.FacebookLogo {
  position: absolute;
  bottom: 30px;
  right: 100px;
  /* z-index: 10;
    bottom: 30px;
    right: 10%;
    width: 14px;
    height: 14px;
    fill: #ffffff; */
}

.TwitterLogo {
  position: absolute;
  bottom: 30px;
  right: 150px;
  width: 14px;
  height: 14px;
  fill: #ffffff;
}
