.Footer {
    margin-left: auto;
    margin-right: auto;
    min-width: 1440px;
    height:72px;
    position: absolute;
    bottom: -300px;
    width: 100%;
    margin-top:-72px;
    background-color: #700017;
    z-index: 100;
}

.LogoFooter {
  position: absolute;
  left: 128px;
  bottom: 20px;
  width: 130px;
  height: 33px;
}

.PrivacyText {
  position: absolute;
  bottom: 10px;
  left: 600px;
  width: 156px;
  height: 17px;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
}

.AccessibilityText {
  position: absolute;
  bottom: 10px;
  left: 900px;
  width: 72px;
  height: 17px;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
}

.OhioCheckbookText {
  position: absolute;
  bottom: 10px;
  left: 1100px;
  width: 97px;
  height: 17px;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
}

.FacebookLogo {
  position: absolute;
  bottom: 30px;
  right: 100px;
}

.TwitterLogo {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 14px;
  height: 14px;
  fill: #ffffff;
}
