/* .Header {
    min-width: 1440px;
    height: 110px;
    fill: #ffffff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
} */

.Title {
  position: absolute;
  left: 135px;
  top: 32px;
  width: 165px;
  height: 28px;
  font-family: Source Sans Pro;
  font-size: 14px;
  color: #700017;
  text-decoration: none solid rgb(232, 230, 227);
  line-height: 14px;
  letter-spacing: 0.5px;
}

.Logo {
  position: absolute;
  left: 25px;
  top: 30px;
  width: 110x;
  height: 28px;
}

.Bar {
  position: absolute;
  top: 32px;
  left: 144px;
  width: 10px;
  height: 26px;
  fill: #700017;
  stroke-width: 1;
}

.VerticalDivider {
  position: absolute;
  top: 25px;
  right: 150px;
  width: 1px;
  height: 49px;
  stroke-width: 1;
}

.HelpIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 100px;
  top: 30px;
  cursor: pointer;
}

.HelpText {
  position: absolute;
  right: 96px;
  top: 52px;
  width: 32px;
  height: 20px;
  font-family: Source Sans Pro;
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  cursor: pointer;
}

.UserIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 50px;
  top: 30px;
  cursor: pointer;
}

.ProfileText {
  position: absolute;
  right: 50px;
  top: 52px;
  width: 32px;
  height: 20px;
  font-family: Source Sans Pro;
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  cursor: pointer;
}
