.Table {
  top: 20%;
  position: absolute;
  width: 1080px;
  height: 800px;
  margin: 0 auto;
  left: 50%;
}

.admin-title {
  position: absolute;
  top: -30px;
  left: -15px;
  width: 200px;
  height: 23px;
  font-family: Source Sans Pro;
  font-size: 18px;
  color: #222222;
  text-decoration: none solid rgb(34, 34, 34);
  font-weight: bold;
}

.DataTable {
  top: 50px;
  left: 150px;
}

.ToggleButtons {
  position: absolute;
  top: -110px;
  left: 10px;
  height: 20px;
  width: 324px;
  border-color: #d8d8d8;
}

.sc-pNWdM {
  display: flex;
}

.PlusButton {
  position: absolute;
  right: 92px;
  top: 1px;
  width: 16px;
  height: 16px;
  padding-right: 1px;
  cursor: pointer;
}

.NewRequestText {
  position: absolute;
  top: -50px;
  right: 10px;
  width: 90px;
  height: 17px;
  font-family: Source Sans Pro;
  font-size: 16px;
  color: #3d7aa9;
  text-decoration: none solid rgb(61, 122, 169);
  line-height: 18px;
  padding-left: 5px;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

.FilterIcon {
  position: absolute;
  top: 60px;
  right: 380px;
  width: 12px;
  height: 16px;
  cursor: pointer;
}

.FilterText {
  position: absolute;
  top: 60px;
  right: 335px;
  width: 38px;
  height: 20px;
  font-family: Source Sans Pro;
  font-size: 16px;
  color: #700017;
  text-decoration: none solid rgb(112, 0, 23);
  cursor: pointer;
}

.Filter {
  position: absolute;
  top: 57px;
  right: 330px;
  width: 65px;
  height: 22px;
  z-index: 1;
}

.bs-select {
  display: none !important;
}

.dataTables_info {
  display: none !important;
}

th {
  border-bottom: 2px solid grey !important;
  width: 1080px;
  height: 1px;
  stroke-width: 1;
  cursor: pointer !important;
}

.form-control {
  width: 305px !important;
}

.SearchIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
}

.sr-only {
  display: none !important;
}

.fa-sort {
  display: inline-block !important;
}

.SmallFilter {
  width: 12px;
  height: 16px;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}

#filter1 {
  top: 52px;
  left: 155px;
}

#filter2 {
  top: 52px;
  left: 322px;
}

#filter3 {
  top: 52px;
  left: 485px;
}

#filter4 {
  top: 52px;
  left: 655px;
}

#filter5 {
  top: 52px;
  left: 825px;
}
