#admin-title {
    position: absolute;
    top: 130px;
    left: 80px;
    width: 200px;
    height: 23px;
    font-family: Source Sans Pro;
    font-size: 18px;
    color: #222222;
    text-decoration: none solid rgb(34, 34, 34);
    font-weight: bold;
}

.NewRequestsText {
    position: absolute;
    padding-top:5px;
    left: 100px;
    top: 200px;
    z-index:10;
    font-family: Source Sans Pro;
    font-size: 12px;
    border: solid 1px #d8d8d8;
    color: #222222;
    text-decoration: none solid rgb(255, 255, 255);
}

.ExistingListingsText {
    position: absolute;
    text-align: center;
    left: 260px;
    top: 200px;
    padding-top:5px;
    width: 163px;
    height: 30px;
    z-index:10;
    font-family: Source Sans Pro;
    font-size: 12px;
    border: solid 1px #d8d8d8;
    color: #222222;
    text-decoration: none solid rgb(34, 34, 34);
}

.PlusButton {
    position: absolute;
    right: 400px;
    top: 175px;
    width: 16px;
    height: 16px;
}

.NewRequestText {
    position: absolute;
    display: inline-block;
    top: 175px;
    right: 300px;
    width: 88px;
    height: 17px;
    font-family: Source Sans Pro;
    font-size: 16px;
    color: #3d7aa9;
    text-decoration: none solid rgb(61, 122, 169);
    line-height: 18px;
    font-weight: bold;
}

.Filter {
    position: absolute;
    top: 165px;
    left: 861px;
    width: 12px;
    height: 16px;
}

.FilterText {
    position: absolute;
    top: 160px;
    left: 880px;
    width: 38px;
    height: 20px;
    font-family: Source Sans Pro;
    font-size: 16px;
    color: #3d7aa9;
    text-decoration: none solid rgb(61, 122, 169);
    font-weight: bold;
}

.SearchBar {
    position: absolute;
    top: 148px;
    left: 924px;
    width: 325px;
    height: 28px;
    border-radius: 3px;
    fill: #ffffff;
    stroke-width: 1;
    border-style: ridge;
}