.App {
  text-align: center;
  width: 100%;
  height: 774px;
  margin-left: auto;
  margin-right: auto;
  min-width: auto;
  padding-bottom: 72px;

}

.Content-Wrap {
  padding-bottom: 72px;
}

.Header {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.DataTable {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  height: 523px;
  margin-top: 60px;
}

